
.logo{
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.proxyContainer{
  display: flex;
  flex-direction: column;
}

.underPhoto {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
  color: #484848;
  font-weight: 350;
  line-height: 1.50em;
  padding-left: 15%;
  padding-right: 15%;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
}

.middleAppContainer{
  display: flex;
  flex-direction : row;
}

.leftContainer{
  padding-right: 20%;
}


#booking-container{
  position: sticky;
  top: 10px;
}