version: "3.0"

services:
  proxyserver:
    image: suco3693/proxyserver:version4
    depends_on:
      - 'piccont'
      - 'info'
      - 'listings'
      - 'listing-seed'
      - 'review'
      - 'review-seed'
    ports:
        - '80:3000'
  piccont:
    image: suco3693/cloudstaypicimg:version2
    depends_on:
      - 'cloudstaypicdb'
    ports:
      - '3006:3006'
  pic-seed:
    image: suco3693/cloudstaypicimg:version2
    depends_on:
      - 'cloudstaypicdb'
    command: sh -c 'npm run seed'
  cloudstaypicdb:
    image: mongo:latest
  info:
    image: anthonyriggi/info:v1
    depends_on:
      - 'infodatabase'
    ports:
      - '3001:3001'

  infodatabase:
    image: mongo:latest

  info-seed:
    image: anthonyriggi/info:v1
    depends_on:
      - 'infodatabase'
    command: sh -c "npm run seed"
  listings:
    image: jmjjeena/listings:v2
    depends_on:
      - 'listingdatabase'
    ports:
      - '3003:3003'

  listingdatabase:
    image: mongo:latest

  listing-seed:
    image: jmjjeena/listings:v2
    depends_on:
      - 'listingdatabase'
    command: sh -c "npm run seed"
  review:
    image: annap23/reviews:version3
    depends_on:
      - 'reviewdatabase'
    ports:
      - '3004:3004'
  reviewdatabase:
    image: mongo:latest
  review-seed:
    image: annap23/reviews:version3
    depends_on:
      - 'reviewdatabase'
      - 'review'
    command: sh -c "npm run seed"
  bookings:
    image: suco3693/bookingcont:version2
    depends_on:
      - 'bookingdatabase'
    ports:
      - '3007:3007'
  bookings-seed:
    image: suco3693/bookingcont:version2
    depends_on:
      - 'bookingdatabase'
    command: sh -c 'npm run seed'
  bookingdatabase:
    image: mongo:latest